<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.Artist.Name}} | Groupie Tracker</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdn.jsdelivr.net/npm/typescript@5.3.3"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/text-typescript@1.3.0"></script>
	<link rel="shortcut icon"
		href="https://static.vecteezy.com/system/resources/previews/002/986/080/non_2x/letter-g-logo-design-template-free-vector.jpg"
		type="image/x-icon">
	<script type="text/javascript" defer>
		const locations = Object.keys({{.Relations.DatesLocations }});
		const loc = {{.Relations.DatesLocations }}


		const searchFetch = async (value) => {
			reqOptions = {
				method: "POST",
				body: JSON.stringify({ search: value })
			};
			const req = await fetch("/searchbar", reqOptions);
			const json = await req.json();
			return json
		}

		window.onload = () => {
			for (i = 0; i < locations.length; i++) {
				div = document.createElement("div")
				div.classList.add("flex", "flex-col", "gap-2", "mb-2")
				h2 = document.createElement("h2")
				h2.classList.add("mb-2", "text-md", "font-semibold", "text-gray-900", "dark:text-white", "capitalize")
				ul = document.createElement("ul")
				div.appendChild(h2)
				div.appendChild(ul)
				h2.innerHTML = locations[i].replace("-", " ")
				loc[locations[i]].forEach(date => {
					li = document.createElement("li")
					li.innerHTML = date.replaceAll("-", "/")
					li.classList.add("text-sm")
					ul.appendChild(li)
				})
				document.getElementById("locations").appendChild(div)
			}
		};
	</script>
</head>

<body class="dark:bg-slate-900">
	<div class="flex justify-center items-center dark:text-white dark:bg-slate-800 bg-gray-100 p-5 px-6 gap-4 relative">
		<input type="text" name="search" id="search" placeholder="Search for an artist, a location, an album"
			class="dark:bg-slate-600 dark:text-white bg-gray-50 outline-none transition-all text-gray-900 w-1/3 text-sm rounded-lg focus:ring-2 focus:ring-blue-500 p-2">
		<div id="results" class="absolute w-1/3 p-2 rounded-sm shadow-lg text-left bg-white hidden -bottom-5">
		</div>
		<div class="absolute right-0 mr-8 flex gap-4">
			<a href="/artists" class="text-md">Artists</a>
			<a href="/concerts" class="text-md">Concert Dates</a>
		</div>
	</div>

	<div class="flex mt-20">
		<div class="md:mx-auto">
			<div
				class="grid grid-cols-2 gap-y-6 min-w-[700px] border p-8 rounded-lg shadow-lg w-full dark:bg-slate-800 dark:text-white dark:border-slate-600">
					<img class="mr-12" src="{{.Artist.Image}}" width="300px" alt="">
					<div class="flex-col gap-4 mr-4">
						<h1 class="font-semibold text-3xl mb-4">{{.Artist.Name}}</h1>
						{{range .Artist.Members}}
						<p class="text-sm">{{.}}</p>
						{{end}}
					</div>
					<div>
						<h1 class="font-semibold text-lg mb-4">Concert Locations</h1>
						<div id="locations" class="flex flex-col gap-2"></div>
					</div>
					<div>
						<h1 class="font-semibold mb-4 text-lg">General Infos</h1>
						<h1 class="text-sm">Creation Date: {{ .Artist.CreationDate }}</h1>
						<h1 class="text-sm">First Album: {{ .Artist.FirstAlbum }}</h1>
					</div>
			</div>
		</div>
	</div>
</body>

</html>