<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists | Groupie Tracker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./scripts/filters.js" defer></script>
    <script src="./scripts/search.js" defer></script>
    <link rel="shortcut icon"
        href="https://static.vecteezy.com/system/resources/previews/002/986/080/non_2x/letter-g-logo-design-template-free-vector.jpg"
        type="image/x-icon">
</head>

<body class="dark:bg-slate-900">
    <div class="flex justify-between items-center dark:text-white dark:bg-slate-800 bg-gray-100 p-5 px-6 relative">
        <a href="/"><img
                src="https://static.vecteezy.com/system/resources/previews/002/986/080/non_2x/letter-g-logo-design-template-free-vector.jpg"
                alt="Logo" class="h-10"></a>
        <div class="absolute left-1/2 -translate-x-1/2 inline-flex flex-col justify-center text-gray-500 w-1/3">
            <div class="relative">
                <input id="search" type="text"
                    class="w-full p-2 pl-8 rounded border border-gray-200 bg-gray-200 focus:bg-white focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:border-transparent"
                    placeholder="Search" />
                <svg class="w-4 h-4 absolute left-2.5 top-3.5" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
                <ul id="results" class="bg-white w-full mt-2 absolute">
                </ul>
            </div>
        </div>
        <div class="flex gap-4">
            <a href="/artists" class="text-md">Artists</a>
            <a href="/concerts" class="text-md">Concert Dates</a>
        </div>
    </div>

    <div class="flex max-auto justify-center text-white">
        <div action="/artists" method="POST" class="filters bg-slate-800 p-2 m-4 my-10 rounded-md flex gap-10">
            <div>
                <div class="creation-year flex flex-col gap-1">
                    <div class="flex gap-1 items-center">
                        <p class="text-sm">From creation year :</p>
                        <label class="text-sm text-white font-semibold" for="creation-year" id="range-value"></label>
                    </div>
                    <input type="range" min="1900" max="2024" name="fromCreationYear" value="0" id="from-creation-year">
                </div>
                <div class="creation-year flex flex-col gap-1">
                    <div class="flex gap-1 items-center">
                        <p class="text-sm">To creation year :</p>
                        <label class="text-sm text-white font-semibold" for="from-creation-year"
                            id="range-value"></label>
                    </div>
                    <input type="range" min="1900" max="2024" name="toCreationYear" value="0" id="to-creation-year">
                </div>
            </div>
            <div>
                <div class="first-album-year flex flex-col gap-1">
                    <div class="flex gap-1 items-center">
                        <p class="text-sm">From first Album year :</p>
                        <label class="text-sm text-white font-semibold" for="first-album-year" id="range-value"></label>
                    </div>
                    <input type="range" min="1900" max="2024" name="fromFirstAlbumYear" id="first-album-year">
                </div>
                <div class="first-album-year flex flex-col gap-1">
                    <div class="flex gap-1 items-center">
                        <p class="text-sm">To first Album year :</p>
                        <label class="text-sm text-white font-semibold" for="first-album-year" id="range-value"></label>
                    </div>
                    <input type="range" min="1900" max="2024" name="toFirstAlbumYear" id="first-album-year">
                </div>
            </div>
            <div class="members-number flex flex-col gap-1">
                <div class="flex gap-1 items-center">
                    <p class="text-sm">Members number :</p>
                </div>
                <select name="members" id="members"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </div>
            <div class="locations flex flex-col gap-1">
                <div class="flex gap-1 items-center">
                    <p class="text-sm">Locations :</p>
                </div>
                <select name="location" id="location"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    {{range .Locations}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
        </div>
    </div>

    <div class="flex mx-auto justify-center">
        <div class="grid grid-cols-3 gap-10 text-white" id="artists-container">
            {{template "artist_block" .Artists}}
        </div>
    </div>
</body>

</html>