<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker | Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon"
    href="https://static.vecteezy.com/system/resources/previews/002/986/080/non_2x/letter-g-logo-design-template-free-vector.jpg"
    type="image/x-icon">
    <script src="./scripts/search.js" defer></script>
</head>

<body class="dark:bg-slate-900 dark:text-white h-screen">
    <div class="flex justify-between items-center dark:text-white dark:bg-slate-800 bg-gray-100 p-5 px-6 relative">
        <a href="/"><img src="https://static.vecteezy.com/system/resources/previews/002/986/080/non_2x/letter-g-logo-design-template-free-vector.jpg" alt="Logo" class="h-10"></a>
        <div class="flex gap-4">
            <a href="/artists" class="text-md">Artists</a>
            <a href="/concerts" class="text-md">Concert Dates</a>
        </div>
    </div>
    <div class="flex justify-center items-center mt-20 flex-col gap-4">
        <div class="w-1/3 flex flex-col items-center gap-6">
            <h1 class="text-3xl dark:text-white font-semibold">Groupie Tracker</h1>
            <input type="text" name="search" id="search" placeholder="Search for an artist, a location, an album"
                class="dark:bg-slate-800 dark:border-slate-600 dark:text-white bg-gray-50 border outline-none transition-all text-gray-900 w-full text-sm rounded-lg focus:ring-2 focus:ring-blue-500 block p-2.5">
        </div>
        <div id="results" class="w-1/3 p-2 bg-slate-700 flex flex-col gap-2 rounded-lg shadow-lg text-left hidden">
        </div>
    </div>
</body>

</html>