<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker | Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer>

        linkClassses = [
            "p-1",
            "pl-2",
            "hover:bg-slate-900",
            "cursor-pointer",
            "transition-all",
            "rounded-lg"
        ]

        const searchFetch = async (value) => {
            reqOptions = {
                method: "POST",
                body: JSON.stringify({ search: value })
            };
            const req = await fetch("/searchbar", reqOptions);
            const json = await req.json();
            return json
        }

        window.onload = () => {
            document.getElementById("search").addEventListener("focus", e => {
                if (document.getElementById("results").classList.contains("hidden") && document.getElementById("search").value.trim().length != 0) {
                    document.getElementById("results").classList.remove("hidden")
                }
            })

            document.getElementById("search").addEventListener("input", async (e) => {
                document.getElementById("results").textContent = ""
                if (e.target.value.trim().length != 0) {
                    searchFetch(e.target.value).then(json => {
                        if (json.artists != null || json.members != null) {
                            console.log(json)
                            if (document.getElementById("results").classList.contains("hidden") != false) {
                                document.getElementById("results").classList.remove("hidden")
                            }
                            let artists = json.artists
                            let members = json.members

                            artists?.forEach(artist => {
                                n = document.createElement("a")
                                n.innerHTML = artist.name + " - artist/band"
                                n.href = "http://localhost:8080/artist?id=" + artist.id
                                linkClassses.forEach(c => n.classList.add(c))
                                document.getElementById("results").appendChild(n)
                            })

                            members?.forEach(member => {
                                n = document.createElement("a")
                                n.innerHTML = member.name + " - " + member.type + member.artist.name
                                n.href = "http://localhost:8080/artist?id=" + member.artist.id
                                linkClassses.forEach(c => n.classList.add(c))
                                document.getElementById("results").appendChild(n)
                            })

                        } else {
                            document.getElementById("results").classList.add("hidden")
                        }
                    })
                } else {
                    document.getElementById("results").classList.add("hidden")
                }
            });
        
            document.querySelector("body").addEventListener("click", e => {
                if (!document.getElementById("results").classList.contains("hidden")) {
                    document.getElementById("results").classList.add("hidden")
                }
            })
        };
    </script>
</head>

<body class="dark:bg-slate-900 dark:text-white h-screen">
    <div class="flex justify-center items-center dark:text-white dark:bg-slate-800 bg-gray-100 p-9 px-6 gap-4 relative">
        <div class="absolute right-0 mr-8 flex gap-4">
            <a href="/artists" class="text-md">Artists</a>
            <a href="/concerts" class="text-md">Concert Dates</a>
        </div>
    </div>
    <div class="flex justify-center items-center mt-20 flex-col gap-4">
        <div class="w-1/3 flex flex-col items-center gap-6">
            <h1 class="text-3xl dark:text-white font-semibold">Groupie Tracker</h1>
            <input type="text" name="search" id="search" placeholder="Search for an artist, a location, an album"
                class="dark:bg-slate-800 dark:border-slate-600 dark:text-white bg-gray-50 border outline-none transition-all text-gray-900 w-full text-sm rounded-lg focus:ring-2 focus:ring-blue-500 block p-2.5">
        </div>
        <div id="results" class="w-1/3 p-2 bg-slate-700 flex flex-col gap-2 rounded-lg shadow-lg text-left hidden">
        </div>
    </div>
</body>

</html>